openapi: 3.1.0
info:
  title: API RUTEANDO — Plataforma de Geolocalización Gastronómica de Ciudad Verde
  version: '1.0.0'
  description: >
    API REST para el descubrimiento de vendedores gastronómicos
    informales en Ciudad Verde, Soacha. Ver Documento 07 (modelo
    de datos) y Documento 05 (requisitos funcionales).
servers:
  - url: https://api.ciudadverdegastronomica.co/v1
    description: Producción
  - url: https://api-staging.ciudadverdegastronomica.co/v1
    description: Staging

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    BusinessId:
      name: businessId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ProductId:
      name: productId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ReviewId:
      name: reviewId
      in: path
      required: true
      schema: { type: string, format: uuid }
    PhotoId:
      name: photoId
      in: path
      required: true
      schema: { type: string, format: uuid }
    Cursor:
      name: cursor
      in: query
      description: Token opaco devuelto por la página anterior
      schema: { type: string }
    CategoryIdFilter:
      name: categoryId
      in: query
      schema: { type: integer, maximum: 32767 }
    QueryFilter:
      name: q
      in: query
      description: Texto de búsqueda libre sobre el nombre del negocio o de un producto suyo
      schema: { type: string, maxLength: 150 }
    PriceMinFilter:
      name: priceMin
      in: query
      description: >-
        Solo negocios con al menos un producto disponible con precio >=
        este valor
      schema: { type: number, minimum: 0 }
    PriceMaxFilter:
      name: priceMax
      in: query
      description: >-
        Solo negocios con al menos un producto disponible con precio <=
        este valor
      schema: { type: number, minimum: 0 }
    OpenNowFilter:
      name: openNow
      in: query
      description: >-
        Solo negocios abiertos en este momento, calculado contra su
        horario y la hora actual (America/Bogota) — no un campo booleano
        guardado.
      schema: { type: boolean }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 50, default: 20 }

  responses:
    ValidationError:
      description: Error de validación (RFC 9457)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    Unauthorized:
      description: Token de acceso faltante o inválido
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    Forbidden:
      description: Rol o propiedad del recurso insuficiente
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    NotFound:
      description: Recurso no encontrado
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    TooManyRequests:
      description: Límite de solicitudes excedido
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    Conflict:
      description: El recurso ya existe o entra en conflicto con el estado actual
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }
    ConsentRequired:
      description: Faltan consentimientos obligatorios (RF-018) — no se emiten tokens
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ConsentRequiredProblem' }
  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        fullName: { type: string }
        email: { type: string, format: email }
        phone: { type: string, nullable: true }
        role: { type: string, enum: [consumer, vendor, administrator] }
        profilePhotoUrl: { type: string, format: uri, nullable: true }
        createdAt: { type: string, format: date-time }
        active: { type: boolean }

    Category:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        icon: { type: string, nullable: true }
        displayOrder: { type: integer }

    Business:
      type: object
      properties:
        id: { type: string, format: uuid }
        ownerId: { type: string, format: uuid }
        categoryId: { type: integer }
        name: { type: string, maxLength: 150 }
        description: { type: string, nullable: true }
        status: { type: string, enum: [pending, active, suspended, closed] }
        contactPhone: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        latitude:
          type: number
          format: double
          nullable: true
          description: >-
            Coordenada de la ubicación actual del negocio, si tiene una
            registrada. Solo se llena en GET /businesses y
            GET /businesses/nearby (evita una llamada aparte a
            GET /businesses/{businessId}/location por cada resultado de
            una búsqueda) — en el resto de las operaciones queda null.
        longitude: { type: number, format: double, nullable: true }
        distanceMeters:
          type: number
          format: double
          nullable: true
          description: Distancia en metros al punto de búsqueda. Solo en GET /businesses/nearby.

    BusinessInput:
      type: object
      required: [name, categoryId]
      properties:
        name: { type: string, maxLength: 150 }
        description: { type: string }
        categoryId: { type: integer }
        contactPhone: { type: string }

    Location:
      type: object
      properties:
        id: { type: string, format: uuid }
        businessId: { type: string, format: uuid }
        type: { type: string, enum: [fixed, mobile, stall, storefront, home, temporary] }
        referenceAddress: { type: string, nullable: true }
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }
        isCurrent: { type: boolean }
        createdAt: { type: string, format: date-time }

    LocationInput:
      type: object
      required: [type, latitude, longitude]
      properties:
        type: { type: string, enum: [fixed, mobile, stall, storefront, home, temporary] }
        referenceAddress: { type: string }
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }

    ScheduleDay:
      type: object
      required: [day]
      properties:
        day:
          { type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday] }
        openTime: { type: string, pattern: "^([01]\\d|2[0-3]):[0-5]\\d$", nullable: true }
        closeTime: { type: string, pattern: "^([01]\\d|2[0-3]):[0-5]\\d$", nullable: true }
        closed: { type: boolean, default: false }

    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        businessId: { type: string, format: uuid }
        categoryId: { type: integer, nullable: true }
        name: { type: string, maxLength: 150 }
        description: { type: string, nullable: true }
        price: { type: number, format: double, minimum: 0 }
        available: { type: boolean }
        createdAt: { type: string, format: date-time }

    ProductInput:
      type: object
      required: [name, price]
      properties:
        name: { type: string, maxLength: 150 }
        description: { type: string }
        price: { type: number, minimum: 0 }
        categoryId: { type: integer }
        available: { type: boolean, default: true }

    Photo:
      type: object
      properties:
        id: { type: string, format: uuid }
        businessId: { type: string, format: uuid, nullable: true }
        productId: { type: string, format: uuid, nullable: true }
        type: { type: string, enum: [business, product] }
        url: { type: string, format: uri }
        displayOrder: { type: integer }
        createdAt: { type: string, format: date-time }

    BusinessProfile:
      description: >-
        Perfil público completo (RF-012) — solo lo devuelve
        GET /businesses/{businessId}. Distinto de Business (usado en
        POST/PATCH y en los resultados de GET /businesses y
        /businesses/nearby): ahí incluir menú/fotos/horario en cada
        resultado de una búsqueda sería desperdiciar ancho de banda.
      allOf:
        - { $ref: '#/components/schemas/Business' }
        - type: object
          properties:
            location:
              allOf: [{ $ref: '#/components/schemas/Location' }]
              nullable: true
              description: Null si el negocio todavía no registró una ubicación.
            schedule:
              type: array
              items: { $ref: '#/components/schemas/ScheduleDay' }
            products:
              type: array
              items: { $ref: '#/components/schemas/Product' }
            photos:
              type: array
              items: { $ref: '#/components/schemas/Photo' }
              description: Fotos del negocio y de todos sus productos, sin anidar.
            averageRating:
              type: number
              format: double
              nullable: true
              description: >-
                Promedio de calificaciones aprobadas (1-5). Null si
                todavía no tiene ninguna reseña aprobada.
            reviewCount:
              type: integer
              description: >-
                Solo cuenta reseñas aprobadas. La lista completa (paginada)
                vive en GET /businesses/{businessId}/reviews.

    Review:
      type: object
      properties:
        id: { type: string, format: uuid }
        businessId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string, nullable: true }
        moderationStatus: { type: string, enum: [pending, approved, rejected] }
        createdAt: { type: string, format: date-time }

    ReviewInput:
      type: object
      required: [rating]
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string, maxLength: 1000 }

    Promotion:
      type: object
      properties:
        id: { type: string, format: uuid }
        businessId: { type: string, format: uuid }
        title: { type: string, maxLength: 150 }
        description: { type: string, nullable: true }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        active: { type: boolean }

    PromotionInput:
      type: object
      required: [title, startDate, endDate]
      properties:
        title: { type: string, maxLength: 150 }
        description: { type: string }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }

    EventInput:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum:
            [
              search,
              business_view,
              product_view,
              contact_click,
              favorite_added,
              review_created,
              business_registered,
            ]
        businessId: { type: string, format: uuid, nullable: true }
        metadata: { type: object, additionalProperties: true }

    ConsentInput:
      type: object
      required: [type, textVersion]
      properties:
        type:
          type: string
          enum: [data_processing, terms_conditions, assisted_registration, notifications]
        businessId: { type: string, format: uuid, nullable: true }
        textVersion: { type: string }
        grantedByThirdParty: { type: boolean, default: false }

    Consent:
      allOf:
        - { $ref: '#/components/schemas/ConsentInput' }
        - type: object
          properties:
            id: { type: integer }
            userId: { type: string, format: uuid, nullable: true }
            grantedAt: { type: string, format: date-time }

    AuthTokens:
      type: object
      properties:
        accessToken: { type: string, description: 'JWT, vigente 15 minutos' }
        refreshToken: { type: string, description: 'Vigente 30 días, un solo uso' }
        tokenType: { type: string, default: Bearer }
        user: { $ref: '#/components/schemas/User' }

    Pagination:
      type: object
      properties:
        nextCursor: { type: string, nullable: true }
        hasMore: { type: boolean }

    ProblemDetails:
      type: object
      description: 'RFC 9457 — Problem Details for HTTP APIs'
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              message: { type: string }

    ConsentRequiredProblem:
      description: >-
        RF-018: login()/refresh() lo devuelven cuando al usuario le falta
        al menos uno de los dos consentimientos obligatorios
        (tratamiento_datos, terminos_condiciones) — no se emiten tokens.
      allOf:
        - { $ref: '#/components/schemas/ProblemDetails' }
        - type: object
          properties:
            missingConsentTypes:
              type: array
              items: { type: string, enum: [data_processing, terms_conditions] }

paths:
  /auth/register:
    post:
      tags: [Autenticación]
      summary: Registrar una cuenta nueva
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fullName, email, password, role]
              properties:
                fullName: { type: string, maxLength: 150 }
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                role: { type: string, enum: [consumer, vendor] }
      responses:
        '201':
          description: Cuenta creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '409': { description: El correo ya está registrado }
        '422': { $ref: '#/components/responses/ValidationError' }

  /auth/login:
    post:
      tags: [Autenticación]
      summary: Iniciar sesión
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Sesión iniciada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/ConsentRequired' }

  /auth/refresh:
    post:
      tags: [Autenticación]
      summary: Renovar el token de acceso
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: Tokens renovados
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: >-
            Faltan consentimientos obligatorios — el refresh token
            original NO se rota ni se invalida, sigue sirviendo para el
            siguiente intento
          $ref: '#/components/responses/ConsentRequired'

  /auth/logout:
    post:
      tags: [Autenticación]
      summary: Invalidar el refresh token actual
      # NOTA (Épica 1, CLAUDE.md): esta ruta no tenía requestBody en la
      # especificación original — sin el refreshToken no hay forma de saber
      # cuál token revocar. Se agrega aquí junto con su definición OpenAPI,
      # mismo patrón que RF-025 en la Épica 2. Ver CLAUDE.md, sección 10.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '204': { description: Sesión cerrada }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/forgot-password:
    post:
      tags: [Autenticación]
      summary: Solicitar recuperación de contraseña (RF-003)
      # NOTA (Épica 1, CLAUDE.md): RF-003 no tenía ruta en la especificación
      # original. Se agrega aquí junto con su definición OpenAPI, mismo
      # patrón que RF-025 en la Épica 2. Ver CLAUDE.md, sección 10.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: >
            Si el correo está registrado, se envía un enlace de recuperación
            de un solo uso con expiración corta. Respuesta idéntica exista o
            no la cuenta, para no permitir enumeración de usuarios.
        '422': { $ref: '#/components/responses/ValidationError' }

  /auth/reset-password:
    post:
      tags: [Autenticación]
      summary: Completar la recuperación de contraseña con el token recibido (RF-003)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string, minLength: 8 }
      responses:
        '204':
          { description: Contraseña actualizada; todas las sesiones existentes quedan revocadas }
        '401':
          description: Token de recuperación inválido, expirado o ya usado
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /users/me:
    get:
      tags: [Usuarios]
      summary: Obtener el perfil propio
      responses:
        '200':
          description: Perfil del usuario
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [Usuarios]
      summary: Editar el perfil propio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string }
                phone: { type: string }
                profilePhotoUrl: { type: string, format: uri }
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Usuarios]
      summary: Eliminar la cuenta propia
      responses:
        '204': { description: Cuenta eliminada }

  /users/me/favorites:
    get:
      tags: [Usuarios]
      summary: Listar negocios favoritos
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Lista de favoritos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Business' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /categories:
    get:
      tags: [Categorías]
      summary: Listar categorías gastronómicas
      security: []
      responses:
        '200':
          description: Lista de categorías
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }

  /businesses:
    post:
      tags: [Negocios]
      summary: Registrar un negocio nuevo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BusinessInput' }
      responses:
        '201':
          description: Negocio creado (estado inicial "pending")
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Business' }
        '422': { $ref: '#/components/responses/ValidationError' }
    get:
      tags: [Negocios]
      summary: Listar y filtrar negocios (sin coordenada de referencia)
      description: >-
        Solo negocios con estado "active". Orden por fecha de creación
        descendente. Para ordenar por cercanía, usar
        GET /businesses/nearby — los mismos filtros combinables
        (categoría, texto, precio, abierto ahora) aplican en ambos.
      security: []
      parameters:
        - { $ref: '#/components/parameters/CategoryIdFilter' }
        - { $ref: '#/components/parameters/QueryFilter' }
        - { $ref: '#/components/parameters/PriceMinFilter' }
        - { $ref: '#/components/parameters/PriceMaxFilter' }
        - { $ref: '#/components/parameters/OpenNowFilter' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Lista de negocios
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Business' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /businesses/nearby:
    get:
      tags: [Negocios]
      summary: Buscar negocios cercanos a una coordenada
      description: >-
        Solo negocios con estado "active", ordenados por distancia
        ascendente (índice espacial GIST sobre ubicaciones.punto — ver
        CLAUDE.md sección 6, Épica 4). Admite los mismos filtros
        combinables que GET /businesses, encima del radio de búsqueda.
      security: []
      parameters:
        - name: lat
          in: query
          required: true
          schema: { type: number, format: double, minimum: -90, maximum: 90 }
        - name: lng
          in: query
          required: true
          schema: { type: number, format: double, minimum: -180, maximum: 180 }
        - name: radiusKm
          in: query
          schema: { type: number, default: 2, maximum: 10 }
        - { $ref: '#/components/parameters/CategoryIdFilter' }
        - { $ref: '#/components/parameters/QueryFilter' }
        - { $ref: '#/components/parameters/PriceMinFilter' }
        - { $ref: '#/components/parameters/PriceMaxFilter' }
        - { $ref: '#/components/parameters/OpenNowFilter' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Negocios ordenados por distancia ascendente
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Business' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /businesses/{businessId}:
    get:
      tags: [Negocios]
      summary: Obtener el perfil público completo de un negocio (RF-012)
      security: []
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200':
          description: Perfil del negocio
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusinessProfile' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Negocios]
      summary: Editar un negocio (solo su propietario)
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BusinessInput' }
      responses:
        '200':
          description: Negocio actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Business' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      tags: [Negocios]
      summary: Dar de baja un negocio
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '204': { description: Negocio dado de baja }
        '403': { $ref: '#/components/responses/Forbidden' }

  /businesses/{businessId}/location:
    get:
      tags: [Negocios]
      summary: Obtener la ubicación vigente
      security: []
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200':
          description: Ubicación vigente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }
    put:
      tags: [Negocios]
      summary: Actualizar la ubicación vigente
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LocationInput' }
      responses:
        '200':
          description: Nueva ubicación vigente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }

  /businesses/{businessId}/schedule:
    get:
      tags: [Negocios]
      summary: Obtener el horario semanal
      security: []
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200':
          description: Horario semanal (hasta 7 elementos)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScheduleDay' }
    put:
      tags: [Negocios]
      summary: Reemplazar el horario semanal completo
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              maxItems: 7
              items: { $ref: '#/components/schemas/ScheduleDay' }
      responses:
        '200': { description: Horario actualizado }

  /businesses/{businessId}/outdated-reports:
    post:
      tags: [Negocios]
      summary: Reportar información desactualizada de un negocio (RF-025)
      # NOTA (Épica 2, CLAUDE.md): RF-025 no tenía ruta ni tabla en la
      # especificación original. Se agrega aquí junto con su definición
      # OpenAPI, mismo patrón que RF-003 en la Épica 1. Ver CLAUDE.md,
      # sección 10. "Cualquier usuario" (no solo autenticado) puede
      # reportar — security: [] a nivel de spec, pero si el cliente manda
      # un Bearer token válido, el reporte queda asociado a ese usuario.
      security: []
      parameters:
        - { $ref: '#/components/parameters/BusinessId' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '201':
          description: Reporte registrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  businessId: { type: string, format: uuid }
                  reason: { type: string }
                  createdAt: { type: string, format: date-time }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /businesses/{businessId}/products:
    post:
      tags: [Productos]
      summary: Agregar un producto al menú
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses:
        '201':
          description: Producto creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    get:
      tags: [Productos]
      summary: Listar el menú de un negocio
      security: []
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Product' }
        '404': { $ref: '#/components/responses/NotFound' }

  /products/{productId}:
    get:
      tags: [Productos]
      summary: Obtener el detalle de un producto
      security: []
      parameters: [{ $ref: '#/components/parameters/ProductId' }]
      responses:
        '200':
          description: Detalle del producto
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Productos]
      summary: Editar un producto
      parameters: [{ $ref: '#/components/parameters/ProductId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses:
        '200':
          description: Producto actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Productos]
      summary: Eliminar un producto
      parameters: [{ $ref: '#/components/parameters/ProductId' }]
      responses:
        '204': { description: Producto eliminado }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /businesses/{businessId}/photos:
    post:
      tags: [Fotos]
      summary: Subir una foto del negocio
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '201':
          description: Foto subida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Photo' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: >-
            Archivo faltante, tipo no permitido, tamaño mayor al máximo
            (ver PHOTO_MAX_SIZE_BYTES en src/config/constants.js), o
            contenido que no decodifica como una imagen real de un formato
            permitido (regla de seguridad #7 — verificación por contenido,
            no por Content-Type/extensión declarados).
          $ref: '#/components/responses/ValidationError'

  /products/{productId}/photos:
    post:
      tags: [Fotos]
      summary: Subir una foto de un producto
      parameters: [{ $ref: '#/components/parameters/ProductId' }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '201':
          description: Foto subida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Photo' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /photos/{photoId}:
    delete:
      tags: [Fotos]
      summary: Eliminar una foto
      parameters: [{ $ref: '#/components/parameters/PhotoId' }]
      responses:
        '204': { description: Foto eliminada }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /businesses/{businessId}/reviews:
    post:
      tags: [Reseñas]
      summary: Dejar una reseña y calificación
      description: >-
        RF-015: una reseña por usuario y negocio (409 si ya existe una), y
        el dueño de un negocio no puede reseñar su propio negocio (403).
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReviewInput' }
      responses:
        '201':
          description: Reseña creada (estado inicial "pending")
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Review' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Ya existe una reseña de este usuario para este negocio (RF-015)
          $ref: '#/components/responses/Conflict'
        '422': { $ref: '#/components/responses/ValidationError' }
    get:
      tags: [Reseñas]
      summary: Listar reseñas aprobadas de un negocio
      security: []
      parameters:
        - { $ref: '#/components/parameters/BusinessId' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Lista de reseñas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Review' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /reviews/{reviewId}:
    delete:
      tags: [Reseñas]
      summary: Eliminar la propia reseña
      parameters: [{ $ref: '#/components/parameters/ReviewId' }]
      responses:
        '204': { description: Reseña eliminada }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /reviews/{reviewId}/report:
    post:
      tags: [Reseñas]
      summary: Reportar una reseña como inapropiada
      description: >-
        RF-016: mueve la reseña a estado_moderacion "pending" de
        inmediato, para revisión en la Épica 9. No es anónimo (requiere
        autenticación) — un mismo usuario no puede reportar la misma
        reseña dos veces (409), y hay un límite de reportes por usuario
        en una ventana de tiempo (429).
      parameters: [{ $ref: '#/components/parameters/ReviewId' }]
      responses:
        '202': { description: Reporte recibido para moderación }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Este usuario ya reportó esta reseña
          $ref: '#/components/responses/Conflict'
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /businesses/{businessId}/favorite:
    post:
      tags: [Favoritos]
      summary: Marcar un negocio como favorito
      description: >-
        Idempotente: marcar un negocio que ya era favorito responde 204
        igual, sin error.
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '204': { description: Marcado como favorito }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Favoritos]
      summary: Quitar un negocio de favoritos
      description: >-
        Idempotente: quitar un negocio que no era favorito responde 204
        igual, sin error.
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '204': { description: Favorito eliminado }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /businesses/{businessId}/promotions:
    post:
      tags: [Promociones]
      summary: Crear una promoción temporal
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PromotionInput' }
      responses:
        '201':
          description: Promoción creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Promotion' }
    get:
      tags: [Promociones]
      summary: Listar promociones activas de un negocio
      security: []
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200':
          description: Lista de promociones activas
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Promotion' }

  /events:
    post:
      tags: [Analítica]
      summary: Registrar un evento de comportamiento
      description: >-
        Analítica de mejor esfuerzo: si businessId tiene formato de UUID
        válido pero no corresponde a ningún negocio, el evento igual se
        acepta (queda sin negocio asociado) — solo un businessId mal
        formado se rechaza. Auth opcional: con un Bearer válido, el
        evento queda asociado al usuario; sin uno, queda anónimo.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EventInput' }
      responses:
        '202': { description: Evento aceptado para procesamiento asíncrono }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /consents:
    post:
      tags: [Privacidad]
      summary: Registrar un consentimiento otorgado
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentInput' }
      responses:
        '201':
          description: Consentimiento registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Consent' }
        '401':
          description: >-
            Sin token de acceso — el consentimiento no tiene a quién
            asociarse todavía (registro asistido sin token queda
            pendiente, ver CLAUDE.md)
          $ref: '#/components/responses/Unauthorized'
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/businesses/pending:
    get:
      tags: [Administración]
      summary: Listar negocios pendientes de aprobación
      responses:
        '200':
          description: Lista de negocios pendientes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Business' }

  /admin/businesses/{businessId}/approve:
    patch:
      tags: [Administración]
      summary: Aprobar un negocio pendiente
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      responses:
        '200': { description: "Negocio aprobado (estado 'active')" }

  /admin/reviews/reported:
    get:
      tags: [Administración]
      summary: Listar reseñas reportadas pendientes de moderación
      responses:
        '200':
          description: Lista de reseñas reportadas
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Review' }

  /admin/businesses/{businessId}/reject:
    patch:
      tags: [Administración]
      summary: Rechazar un negocio pendiente
      parameters: [{ $ref: '#/components/parameters/BusinessId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200': { description: "Negocio rechazado (estado 'closed')" }

  /admin/reviews/{reviewId}/moderate:
    patch:
      tags: [Administración]
      summary: Aprobar o rechazar una reseña reportada
      parameters: [{ $ref: '#/components/parameters/ReviewId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
      responses:
        '200': { description: Reseña moderada }

  /admin/metrics:
    get:
      tags: [Administración]
      summary: Consultar métricas agregadas de uso
      responses:
        '200':
          { description: 'Panel de métricas (negocios activos, búsquedas, reseñas por semana)' }

  /users/me/consents:
    get:
      tags: [Privacidad]
      summary: Consultar el historial de consentimientos propios
      description: >-
        Historial completo (append-only): todas las filas, no solo la más
        reciente por tipo — así se puede demostrar toda la secuencia
        aceptada, no solo el estado actual.
      responses:
        '200':
          description: Lista de consentimientos otorgados
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Consent' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/assisted-registration:
    post:
      tags: [Autenticación]
      summary: Registro de negocio asistido por un tercero en campo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - { $ref: '#/components/schemas/BusinessInput' }
                - type: object
                  required: [assistedBy, consentTextVersion]
                  properties:
                    assistedBy:
                      { type: string, description: 'Nombre de quien realiza el registro asistido' }
                    consentTextVersion: { type: string }
      responses:
        '201':
          description: Negocio y consentimiento asistido registrados
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Business' }
